%h1 Meus Produtos

:css
  body {
    padding-top: 100px;
  }

:javascript
  jQuery( function () { alert('boo'); }  );

%input{ :type => 'button', :onclick => 'alert( "Clicou" )' }

%table.zebra-striped#pedido
  %thead
    %tr
      %th Nome
      %th Quantidade
      %th Preço Unitário
      %th Preço Total
  %tbody
    - pedido_atual.itens.each do |item|
      %tr
        %td= item.nome
        %td= item.quantidade
        %td= number_to_currency item.preco_unitario
        %td= number_to_currency item.preco_total
  %tfoot
    %tr
      %td{ :colspan => 2 }
      %td Preço Total
      %td= number_to_currency pedido_atual.preco_total